#main-page{
    background: url('images/pic-6.jpg') no-repeat bottom center scroll;
    position: relative;
    width:100%;
    height: 645px;
    background-size: cover;
    background-color:black;
}
.navbar {
    margin-bottom: -20px;
}
/*mn-backgrounds*/
#education, #skill-set, #form-section, #body-section{
    background: #dad2e8;
}
#footer, #top-nav-sect{
    background: #6F706A;
}
#skills-section{
    height: 30px; 
}
/*why-me*/
.why-me-item{
    height: 150px;
}
.new-color{
    background: #A6A2AE;
    opacity:0.8;
}
.new-color-2{
    background: #b95c5c;
    opacity:0.8;
}
.why-me-item:hover{
    opacity:1;
}
/*thank-you-section*/
.thanks{
    text-align: center;
}
.thanks h1{
    margin-top: 10px;
    font-family: 'Slabo 27px', serif;
}
.horizontal-line{
    margin-top: 10px;
    margin-bottom: 10px;
}
#danke-cont{
    background: #F09819; 
    background: -webkit-linear-gradient(to left, #F09819 , #EDDE5D);
    background: linear-gradient(to left, #F09819 , #EDDE5D); 
}
/*top-nav-collap*/
@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}
/*main-image-section*/
@media (max-width: 767px){
    #main-page{
        height: 400px;
    }
}
/*top-navigation-section*/
#ul-nav-top li{
    border-left: 1px solid gray;
    text-align: center;
}
#ul-nav-top li:last-child{
    border-right: 1px solid gray;
}
.navbar-default .navbar-toggle {
    border-color: #65588F;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #65588F;
}
ul .active{
    background: #65588F;
    color: #FFFFFF;
    opacity: 0.7;
}
#ul-nav-top li a{
    color: #DBD9D9;
    padding-top: 15px;
    padding-bottom: 1px;
}
#ul-nav-top li a:hover{
    background: #65588F;
    color: #FFFFFF;
    opacity: 0.7;
}
#ul-nav-top{
    background: #5F605B;
}
@media (min-width: 768px){
    #ul-nav-top li{
        width:113px;
    }
}
/*bottom-navigation-section*/

#ul-nav-bot{
    background: #5F605B;
}
#ul-nav-bot li a{
    color: #DBD9D9;
    padding-top: 18px;
}
#ul-nav-bot li a:link{
    background: #5F605B;    
}
#ul-nav-bot li a:visited{
    background: #5F605B;    
}
#ul-nav-bot li a.bot-item-1:hover{
    background: #3D5998;
    color: #FFFFFF;
    opacity: 0.8;
}
#ul-nav-bot li a.bot-item-2:hover{
    background: #DB4437;
    color: #FFFFFF;
    opacity: 0.8;
}
#ul-nav-bot li a.bot-item-3:hover{
    background: #12A5F4;
    color: #FFFFFF;
    opacity: 0.8;
}
#ul-nav-bot li a.bot-item-4:hover{
    background: #A8F000;
    color: #FFFFFF;
    opacity: 0.8;
}


.footer-info p{
    color: #DBD9D9;
}
#sign{
    padding-top: 45px;
}
/*mixed-media*/
@media (max-width: 767px){
    #form-header{
        margin: 10px 0 10px;
    }
    .form-group{
        margin-bottom: 10px;
    }
    #ul-nav-bot li{
        display: inline-block;
        width: 24.3%;
        text-align: center;
    }
    #ul-nav-bot li:first-child{
        padding-right: -1%;
    }
     #ul-nav-bot li a{
        padding-top: 14px;
    }
    .fa-3x{
        font-size: 2em;
    }
    #sign{
    padding-top: 5px;
    text-align: center;
    }
    .text-item p{
    margin-bottom: 3px;   
    }
}
/*bottom-nav-quer*/
@media (max-width: 473px){
    #ul-nav-bot li{
        width: 24%;
    }    
}
@media (max-width: 345px){
    #ul-nav-bot li{
        width: 23.6%;
    }    
}
/*form-section*/
.page-header{
    margin: 10px 0 20px;
}
#submit{
    width:30%;
    background: #5F605B;
    border-color: #DBD9D9;
}
#submit:hover{
    background: #b95c5c;
    border-color: #DBD9D9;
}
/*top-text-anim*/
#animated-text {
    font-family: 'Slabo 27px', serif;
    font-size: 40px;
    text-align: center;
    color: black;
    margin-top: 5px;
}
#animated-text {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
}
#animated-row{
    background: rgba(219, 217, 217, 0.5);
    width:50%;
    margin:0 auto;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s;
}
#animated{
    margin-top: 7%;
}
/*top-text-quer*/
@media (max-width: 669px){
    #animated-text{
        font-size: 30px;        
    }
}
@media (max-width: 513px){
    #animated-text{
        font-size: 25px;        
    }
    #animated{
        margin-top: 15%;
    }
}
@media (max-width: 325px){
    #animated-text{
        font-size: 20px;        
    }    
}
.horizontal-style-sec{
    border-top: 2px solid #5F605B;
}
.page-header{
    border-bottom: 2px solid #5F605B;
}
/*fonts-style*/
#headers-font, #form-header{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}
#thankyou-font-style{
    font-family: 'Slabo 27px', serif;    
}
.underline{
    font-weight: 600;
}
/*scr-button*/
#scr-button{
	position: fixed;
    right: 5px;
    top: 20px;
	margin-right: 1%;
	text-align: center;
    background: #B95C5C;
    opacity:0.8;
    border-radius: 5px;
}
#scr-button i{
    color: #FFFFFF;
}
#scr-button:hover{
    opacity:1;
}